<% include header %>

<div class="container">
  <h1>Hacademy</h1>
  <img height="200" width="200" src="/logo.png" />
  <ul>
    <li>
      <a href="https://cafocc.web.app/">Hacademy Website</a>
    </li>
    <li>
      Click <a href="https://m.me/103199398091895">here</a> to start a conversation.
    </li>
    <li>
      <a href="https://hacademy-chatbot.herokuapp.com/profile?mode=all&verify_token=hacademy-chatbot">Verified Webhook</a>
    </li>
  </ul>
</div>


<% include footer %>
